.body-style {
  margin: 0;
}

.front-top {
  position: fixed;
  top: 0;
  display: grid; 
  grid-template-columns: 300px 1240px;
  height: 130px;
  border-bottom-style: solid;
  border-color: lightgray;
}

.money-map-division {
  height: 130px;
  display: inline-block;
  background-color: #003262;
}

.money-map {
  margin: 0;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  color: white;
  padding-top: 38px;
}

.generate-report-head-division {
  background-color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #00B9E8;
  text-align: center;
  font-size: 50px;
  padding-top: 32px;
}

.front-left {
  position: fixed;
  top: 130px;
  height: 599px;
  width: 300px;
  background-color: #003262;
  display: inline-block;
}

.dashboard-side-division {
  background-color: #003262;
}

.dashboard-element {
  background-color: #003262;
  color: white;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 24px;
  font-family: Arial;
  border-radius: 30px;
  margin-left: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.dashboard-element:hover {
  background-color: white;
  color: #003262;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
}

.dashboard-element:active {
  opacity: 0.8;
}

.chart-division {
  background-color: #003262;
}

.chart-element {
  background-color: #003262;
  color: white;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 24px;
  font-family: Arial;
  border-radius: 30px;
  margin-left: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.chart-element:hover {
  background-color: white;
  color: #003262;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
}

.chart-element:active {
  opacity: 0.8;
}

.calendar-division {
  background-color: 003262;
}

.calendar-element {
  background-color: #003262;
  color: white;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 24px;
  font-family: Arial;
  border-radius: 30px;
  margin-left: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.calendar-element:hover {
  background-color: white;
  color: #003262;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
}

.calendar-element:active {
  opacity: 0.8;
}

.total-division {
  background-color: 003262;
}

.total-element {
  background-color: #003262;
  color: white;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 24px;
  font-family: Arial;
  border-radius: 30px;
  margin-left: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.total-element:hover {
  background-color: white;
  color: #003262;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
}

.total-element:active {
  opacity: 0.8;
}

.profile-division {
  background-color: #003262;
}

.profile-element {
  background-color: #003262;
  color: white;
  border: none;
  height: 60px;
  width: 200px;
  font-size: 24px;
  font-family: Arial;
  border-radius: 30px;
  margin-left: 50px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.profile-element:hover {
  background-color: white;
  color: #003262;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.3);
}

.profile-element:active {
  opacity: 0.8;
}

.front-right {
  margin-top: 130px;
  margin-left: 300px;
  background-color: rgb(241, 241, 241);
}

.total-income-head,
.total-expense-head,
.total-budget-head {
  font-family: arial;
  font-size: 27px;
  color: #003262;
  margin: 10px 30px;
}

.total-income-head {
  padding-top: 14px;
}

.income-c-report,
.expense-c-report,
.budget-c-report {
  font-family: arial;
  font-size: 20px;
  margin: 5px 30px;
}

.income-c-total,
.expense-c-total {
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 30px;
}

.download-button {
  margin: 20px 30px;
  font-size: 17px;
  color: white;
  background-color: #003262;
  border-style: none;
  padding: 7px 15px;
  border-radius: 3px;
}